<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934319530358-gg7b8u22ug21phnuh6mte7gughtgv1ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934319530358-gg7b8u22ug21phnuh6mte7gughtgv1ec</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>934319530358-b2ga2bosph0li586bd8fi16f8s6isc90.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkLTuoIxkWrFlYH8dfuNkOjZ3cOVOtIvE</string>
	<key>GCM_SENDER_ID</key>
	<string>934319530358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.pelotita.ar</string>
	<key>PROJECT_ID</key>
	<string>futbolito-a8dea</string>
	<key>STORAGE_BUCKET</key>
	<string>futbolito-a8dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934319530358:ios:9e9c0a6e3cb42b16085a57</string>
</dict>
</plist>